.pad-toggle, .pad-close, .pad-lock, .pad-security, .pad-saveable {
    float: right;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    z-index: 210;
}

.pad-toggle {
    position: relative;
    top: 4px;
}

.pad-saveable {
    margin-right: 0;
}

.pad-form label {
    min-width: 200px;
    display: inline-block;
}

.pad-form input, .pad-form select {
    display: inline;
}

.pad-toolbar {
    min-height: 20px;
    display: flex;
}

.pad-toolbar span {
    padding-right: 1rem;
    margin-right: auto;
}

.pad-resizable {
    position: relative;
    border: thin solid #555555;
    height: 600px;
}

.pad-iframe {
    width: 100%;
    height: 100%;
    border: hidden;
}

.pad-iframecontainer {
    margin-bottom: .5rem;
}

#draft__status {
    text-align: right;
    float: none;
}

